<!DOCTYPE html>
<html>
  <body>
    <h4>Dear {{ username }}:</h4>
    <p>You have requested to reset the password.</p>
    <br>
    <p>Please click on this link to reset your password: </p>
    <a href="{{ reset_link }}">{{ reset_link }}</a>
    <p>This link will expire in {{ hours }} hour{% if hours > 1 %}s{% endif %}</p>
    <br>
    <p>If this request is not initiated by you, please igore this email.</p>
    <br><br><br>
    <p>This is an automated message please do not reply.</p>
    <p>Should you require assistance please contact: {{ admin_email }}</p>
  </body>
</html>
